@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 4s ease-out forwards;
}

.animate-fade-in-delay {
  opacity: 0;
  animation: fadeIn 4s ease-out 2s forwards;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 5s ease-out, transform 5s ease-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.flipped .transform-style-preserve-3d {
  transform: rotateY(180deg);
}